@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*,
 :after,
 :before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: none;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 70px;
    display: flex;
    position: relative;
    left: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: #597aff;
    color: ghostwhite;
}

.Nav-container>ul {
    list-style: none;
    display: flex;
    cursor: pointer;
}

.Nav-container>ul>li {
    padding: 10px;
    margin-right: 20px;
}

#Nav-container {
    text-decoration: none;
}


/*.login/logout-btn*/

.login-btn {
    height: 5vh;
    width: 5vw;
    background-color: #ffde59;
    color: #597aff;
    border-radius: 0.5rem;
    border: 1px solid ghostwhite;
    font-size: large;
}

.logout-btn {
    height: 5vh;
    width: 5vw;
    background-color: #ffde59;
    color: #597aff;
    border-radius: 0.5rem;
    border: 1px solid ghostwhite;
    font-size: large;
}


/*search box*/

.Search-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem auto;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.search-bar {
    width: 90%;
    height: 7vh;
    font-size: large;
    cursor: pointer;
    border: transparent;
    border-radius: 1rem;
    vertical-align: middle;
    overflow: hidden;
    padding-left: 1rem;
}

.search-btn {
    width: 10%;
    height: 7vh;
    cursor: pointer;
    border: transparent;
    background-color: #597aff;
    color: ghostwhite;
    font-size: 20px;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.error-container {
    text-align: center;
    font-size: x-large;
    margin: 1rem 1rem;
}


/*card */

.card {
    margin: 1rem 1rem;
    padding: 0.5rem;
    border: 1px solid bisque;
    width: 280px;
    height: auto;
    cursor: pointer;
    /*zoom card;*/
    transition: transform .1s;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.card:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card>img {
    width: 100%;
}

.card .cuisines-text {
    color: #686b78;
    font-size: 11px;
    margin-top: 4px;
}

.card .card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 6px;
    color: navy;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Menu List */

.Menu {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.rest-details {
    list-style: none;
    color: navy;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    gap: 25px;
}

.res-img {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid bisque;
    width: 350px;
    height: auto;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}


/*shimmmer*/

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.shimmer-card {
    flex-basis: 280px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.shimmer-title {
    width: 60%;
    margin-top: 10px;
}

.shimmer-tags {
    width: 80%;
    margin-top: 4px;
}

.shimmer-details {
    width: 100%;
    margin-top: 18px;
}

.shimmer-container .shimmer-img {
    height: 144px;
    width: 230px;
}


/*Animation to Shimmer Component Cards */

.stroke {
    height: 15px;
    background: #777;
}

.animate {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
    from {
        background-position: -1000px 0;
    }
    to {
        background-position: 1000px 0;
    }
}


/*Error Image*/

.ErrPage {
    text-align: center;
    background-color: lightgoldenrodyellow;
    color: #f66b00;
}

.ErrorImg {
    width: 30%;
    height: auto;
}

.Err-btn {
    width: 110px;
    height: 7vh;
    text-decoration: none;
    background-color: #EDD947;
    color: #394CB5;
    border: 1px solid #F66B00;
    border-radius: 8px;
    cursor: pointer;
    font-size: larger;
}


/*footer*/

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    background-color: #597aff;
    color: ghostwhite;
}

.foot>ul {
    display: flex;
    cursor: pointer;
}

.foot>h4 {
    padding-left: 6rem;
    font-size: 1.5rem;
}

.foot>ul>li {
    list-style: none;
    padding-right: 1.5rem;
}