.container {
    background-color: #2874f0;
    color: ghostwhite;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    padding: 2rem;
    margin: auto;
    margin-top: 0rem;
}

#search-bar {
    height: 5vh;
    width: 40%;
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    /*margin-bottom: 6rem;*/
}

body {
    margin: 0;
}

#logo1 {
    width: 20px;
    height: 20px;
    font-size: x-small
}